<!DOCTYPE html>
<html lang="en">
  <head>
   
    <!-- CSS -->
    <link rel="stylesheet" href="/style/form.css" />
    <title>Update User Details</title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="form-container">
      <!-- icon -->
      <h1>
        Update User Details
        <i class="fas fa-user-plus"></i>
      </h1>

  
     
      <form action="/api/v1/users/profile/update?_method=PUT" method="POST">
        <!-- full name -->
        <label for="name">Full Name</label>
        <input type="text" name="fullName" id="fullName" value="<%= formData.fullName || '' %>" />
        <!-- email -->
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="<%= formData.email || '' %>" />

        <label for="password">Password</label>
        <input type="password" name="password" id="password"/>

        <button type="submit">Update</button>

        <!-- <p>Already have an account? <a href="/login">Login</a></p> -->
      </form>
      <% if (error) { %>
        <small class="error">
          <i class="fas fa-exclamation-circle"></i>
          <%=error%>
        </small>
        <% } else { %>
        <span></span>
        <% } %>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
